form{
    label{
        display: block;
    }

    input, textarea{
        box-sizing: border-box;
        background: var(--bg-muted);
        color: var(--fg);
        border: none;
        width: 100%;
        border-radius: .25rem;
        padding: .5rem;
        mix-blend-mode: normal;
        font-size: 1rem;
        font-family: "karla", sans-serif;
    }

    
}

form .btn, a.btn{
    border: none;
    border-radius: .25rem;
    font-size: 1rem;
    background-color: var(--acc);
    background-image: none;
    color: var(--bg);
    width: auto;
    padding: .5rem 2rem;
    display: inline-block;
    transition: .1s ease-in all;

    &:hover{
        transform: scale(1.05);
    }
}