.bbottom{
    border-bottom: 1px solid c("bg-muted");
}

.b{
    border: 1px solid c("bg-muted");
}

// BOOTSTRAP-LIKE MARGIN AND PADDING OVERRIDES
$prefixes: (
    "": "",
    "t": "-top",
    "r": "-right",
    "b": "-bottom",
    "l": "-left",
    "x": ("-left", "-right"),
    "y": ("-top", "-bottom"),
);
  
$sizes: (
    "0": 0,
    "1": 1rem,
    "2": 2rem,
    "3": 3rem,
    "4": 4rem,
    "5": 5rem,
    "auto": auto,
    "half": .5rem,
    "1px": 1px,
);
  
@each $prefix, $property in $prefixes{
    @each $size, $i in $sizes{
        @if $prefix == "x" or $prefix == "y"{
            .m#{$prefix}-#{$size}{
                @each $prop in $property{
                    margin#{$prop}: $i !important;
                }
            }
            .p#{$prefix}-#{$size}{
                @if $size != "auto"{
                    @each $prop in $property{
                        padding#{$prop}: $i !important;
                    }
                }
            }
        }@else{
            .m#{$prefix}-#{$size}{
                margin#{$property}: $i !important;
            }
            .p#{$prefix}-#{$size}{
                @if $size != "auto"{
                    padding#{$property}: $i !important;
                }
            }
        }
    }
}
  
// TYPE OVERRIDES
.font-weight-regular{ font-weight: 400; }
.font-weight-bold{ font-weight: 700; }
  
// DISPLAY 
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }
.d-block { display: block; }
.d-none{ display: none;}

.tag{
    display: inline-block;
    padding: 0 .5rem;
    background: c("bg-muted");
    color: c("fg");
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: .25rem;
}

.muted{
    opacity: .6;
}

.size-1{
    margin: 0 0 1rem;
    font-size: 1rem;
}
  