.bbottom{
    border-bottom: 1px solid var(--bg-muted);
}

.btop{
    border-top: 1px solid var(--bg-muted);
}

.b{
    border: 1px solid var(--bg-muted);
}

.b-2{
    border-width: 2px;
}

// BOOTSTRAP-LIKE MARGIN AND PADDING OVERRIDES
$prefixes: (
    "": "",
    "t": "-top",
    "r": "-right",
    "b": "-bottom",
    "l": "-left",
    "x": ("-left", "-right"),
    "y": ("-top", "-bottom"),
);
  
$sizes: (
    "0": 0,
    "1": 1rem,
    "2": 2rem,
    "3": 3rem,
    "4": 4rem,
    "5": 5rem,
    "auto": auto,
    "half": .5rem,
    "1px": 1px,
);
  
@each $prefix, $property in $prefixes{
    @each $size, $i in $sizes{
        @if $prefix == "x" or $prefix == "y"{
            .m#{$prefix}-#{$size}{
                @each $prop in $property{
                    margin#{$prop}: $i !important;
                }
            }
            .p#{$prefix}-#{$size}{
                @if $size != "auto"{
                    @each $prop in $property{
                        padding#{$prop}: $i !important;
                    }
                }
            }
        }@else{
            .m#{$prefix}-#{$size}{
                margin#{$property}: $i !important;
            }
            .p#{$prefix}-#{$size}{
                @if $size != "auto"{
                    padding#{$property}: $i !important;
                }
            }
        }
    }
}
  
// TYPE OVERRIDES
.font-weight-regular{ font-weight: 400; }
.font-weight-bold{ font-weight: 700; }
  
// DISPLAY 
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }
.d-block { display: block; }
.d-none{ display: none;}

.tag{
    display: inline-block;
    padding: 0 .5rem;
    background: var(--bg-muted);
    color: var(--fg);
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: .25rem;
}

.muted{
    color: var(--fg-muted);
}

.size-1{
    margin: 0 0 1rem;
    font-size: 1rem;
}

.posts > :first-child{
    border-top: none !important;
    padding-top: 0 !important;
}

.mobile-hide{
    @media (max-width: 780px){
        display: none;
    }
}

input.toggle-checkbox{
    display: none;
}
input + .toggle-theme{
    display: block;
    background: var(--fg);
    width: 2.5rem;
    height: 1.5rem;
    margin-left: auto;
    border-radius: 30px;
    position: relative;
    
    &::before{
        content: "";
        width: 1.1rem;
        height: 1.1rem;
        background: var(--bg);
        position: absolute;
        top: .2rem;
        left: .2rem;
        border-radius: 50%;
        transition: .1s ease-in all;
        z-index: 2;
    }

    &::after{
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        color: var(--bg-muted);
        position: absolute;
        top: 0;
        left: 1rem;
        z-index: 1;
        background: url(/assets/img/icon-sun.png);
        background-size: 45%;
        background-position: .5rem center;
        background-repeat: no-repeat;
    }
}

input:checked + .toggle-theme{
    &::before{
        width: 1.2rem;
        height: 1.2rem;
        top: .15rem;
        left: 1.15rem;
    }
    &::after{
        content: "";
        left: 0rem;
        background: url(/assets/img/icon-moon.png);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.toggle-container{
    @media (max-width: 600px){
        position: absolute;
        top: 4rem;
        right: 2rem;
    }
}