html {
    font-size: 20px;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    line-height: 1.5;

    @media (max-width: 980px){
        font-size: 18px;
    }
}

body{
    font-size: 1rem;
}

.lead{
    font-size: 1.25rem;
    line-height: 1.5;
}

.small{
    font-size: .75rem;
}

h1, .h1{
    font-size: 4rem;
    line-height: 1.1;
    word-break: break-word;
    @media (max-width: 720px){
        font-size: 3rem;
    }
}

h2{
    font-size: 2rem;
    line-height: 1.3;
    @media (max-width: 720px){
        font-size: 1.5rem;
    }
}

h3{
    font-size: 1.5rem;
    line-height: 1.4;
    @media (max-width: 720px){
        font-size: 1.25rem;
    }
}

.huge-copy{
    font-size: 1.25rem;
    line-height: 1.5;
}

blockquote{
    @extend .lead;
    font-style: italic;
    color: c("fg-muted");
    position: relative;

    &::before{
        content: open-quote;
        color: c("bg-muted");
        font-size: 5rem;
        position: absolute;
        left: -2rem;
        top: -2.3rem;
        z-index: -1;
    }

    &::after{
        content: close-quote;
        color: c("bg-muted");
        font-size: 5rem;
        position: absolute;
        right: -1rem;
        bottom: -3.3rem;
        z-index: -1;
    }
}