html {
    background: var(--bg);

    --bg: #fff;
    --bg-muted: #efeade;
    --fg: #373228;
    --fg-muted: rgba(50, 55, 40, .6);
    --acc: #EA6959;

    &.dark{
        --bg: #1b1321;
        --bg-muted: rgba(111, 97, 122, .5);
        --fg: #e7e4eb;
        --fg-muted: #bfa9d2;
        --acc: #EA6959;
    }
    
}
    
    body {
        color: var(--fg);
    }
    
    a {
        color: var(--acc);
        text-decoration: none;
        background-image: linear-gradient(transparent 92%, var(--acc) 92%), linear-gradient(transparent 92%, var(--bg-muted) 92%);
        background-size: 0 100%, 100% 100%;
        background-repeat: no-repeat;
        transition: .2s ease-in background-size;
    
        &.stealth{
            color: var(--fg-muted);
        }
        
    
        &:hover{
            color: var(--acc);
            text-decoration: none;
            background-size: 100% 100%, 100% 100%;
            transition: .2s ease-in background-size;
        }
    }
    
    header a,
    .footer a{
        color: var(--fg);
        background: none;
    }
    
    header a:hover,
    .footer a:hover{
        color: var(--acc);
    
        svg{
            fill: var(--acc);
        }
    }
    
    img{
        @extend .rounded;
    }
    
    .img-grayscale{
        filter: grayscale(100%);
        mix-blend-mode: multiply;
    }
    
    .mugshot-container{
        background: var(--bg-muted) url(/assets/img/axel-matte.png);
        background-size: 100% 100%;
    }
    
    .me{
        svg{
            fill: var(--fg);
        }
    }
    
    ul.no-style {
        list-style: none;
        padding: 0;
    }
    
    .rounded{
        border-radius: 1rem;
        overflow: hidden;
    }
    
    .stream-card{
        background: var(--bg-muted);
    }
    
    .stream-card-single{
        position: relative;
        overflow: visible;
    
        &::before, &::after{
            content: "";
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            position: absolute;
            top: -2rem;
            left: 2rem;
            // transform: translatex(-50%);
            border: 2px solid var(--bg);
        }
        
        &::before{
            
            background-color: var(--bg-muted);
            background-image: url(/assets/img/axel-matte.png), linear-gradient(var(--bg-muted),var(--bg));
            background-size: 100%;
        }
    
        &::after{
            background: url(/assets/img/axel.jpg);
            background-size: 100%;
            filter: grayscale(100);
            mix-blend-mode: multiply;
        }
    }
    
    .homepage-blog-post:not(:first-child){
        margin-top: 3rem;
        padding-top: 3rem;
        @extend .div-top;
    }
    
    .homepage-blog-post + .homepage-blog-post{
        padding-top: 0;
        margin-top: 0;
        &::before{
            content: "";
            display: none;
        }
    }
    
    .div-top{
        position: relative;
    
        &::before{
            content: "";
            position:absolute;
            top: 0;
            width: 5rem;
            height: .25rem;
            background: var(--bg-muted);
            margin: 0 auto;
            left: 50%;
            transform: translatex(-50%);
            border-radius: 10px;
        }
    }
    
    .div-bottom{
        position: relative;
    
        &::after{
            content: "";
            position:absolute;
            bottom: -3px;
            width: 5rem;
            height: .25rem;
            background: var(--bg-muted);
            margin: 0 auto;
            left: 50%;
            transform: translatex(-50%);
            border-radius: 10px;
        }
    }