    <div class="footer btop b-2 pt-4 mt-4">
        <div class="split">
            <p>
                <strong>Axel Valdez</strong><br>
                axel<span class="d-none">REMOVETHIS</span>@paskola.com
            </p>
             <nav>
                <ul class="no-style">
                    <li class="ml-1"><a href="https://twitter.com/axelvaldezmx" rel="me"><i class="i-twitter"></i></a></li>
                    <li class="ml-1"><a href="https://instagram.com/axelvaldez" rel="me"><i class="i-instagram"></i></a></li>
                    <li class="ml-1"><a href="https://dribbble.com/axel" rel="me"><i class="i-dribbble"></i></a></li>
                    <li class="ml-1"><a href="https://github.com/axelvaldez" rel="me"><i class="i-github"></i></a></li>
                    <li class="ml-1"><a href="https://linkedin.com/in/axelvaldez" rel="me"><i class="i-linkedin"></i></a></li>
                </ul>
                <ul class="no-style">
                    <li class="ml-half"><a href="/admin/">Admin</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="/assets/js/main.js"></script>
</body>

</html>