    <div class="footer">
        <div class="split">
            <p>
                <strong>Axel Valdez</strong><br>
                axel@paskola.com
            </p>
            <p>
                Made with <3, 11ty,<br>Visual Studio Code, Github & Netlify.
            </p>
        </div>
    </div>
</body>

</html>