<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/head-content.njk' %}
    <link href="https://micro.blog/axel" rel="me" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link rel="alternate" type="application/rss+xml" href="/feed/" title="Axel Valdez • Design Engineer"/>
    <title>{{ site.name }}: {{ title }}</title>
</head>

<body class="{% if '/blog' in page.url %}post{% endif %}">

 {% include 'partials/brand-header.njk' %}