<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="view-transition" content="same-origin" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/main.css">
<link href="https://micro.blog/axel" rel="me" />
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<link rel="alternate" type="application/rss+xml" href="/feed/" title="Axel Valdez • Design Engineer"/>
<link rel="webmention" href="https://webmention.io/axelvaldez.mx/webmention" />
<link rel="pingback" href="https://webmention.io/axelvaldez.mx/xmlrpc" />
<script async defer data-insites="082a52c0-4aeb-43ee-a566-58e0969bc023" src="https://app.pryvy.io/tracker.js"></script>
<script src="/assets/js/app.js" async></script>
