{% include 'partials/header.njk' %}


    <section>
        <h1 class="mb-1">The Blog</h1>
        <p class="mb-4 lead muted">Notes on stuff I'm thinking about. For short-form posts, visit <a href="/stream/">the stream</a>.</p>
        <ul class="posts no-style">
            {%- for post in paginatedBlog-%}
                <li class="split mt-4 pt-4 btop">
                    <p class="mt-half muted"><i class="i-calendar mr-half"></i>{{ post.date | readableDate }}</p>
                    <div>
                        <h2 class="mt-0"><a href="{{ post.url | url }}"><strong>{{ post.data.title }}</strong></a></h2>
                        <p class="muted">{{ post.templateContent | safe }}</p>
                    </div>
                </li>
            {%- endfor -%}
        </ul>

        {% if pagination.href.previous or  pagination.href.next %}
        <div class="split split-half mt-4 pt-4 btop">
            <span class="text-left">{% if pagination.href.previous %}<a href="{{pagination.href.previous }}">&larr; Newer posts</a>{% endif %}</span>
            <span class="text-right">{% if pagination.href.next %}<a href="{{pagination.href.next }}">Older Posts &rarr;</a>{% endif %}</span>
        </div>
        {% endif %}
    </section>

   
    
{% include 'partials/footer.njk' %}