{% include 'partials/header.njk' %}


    <section>
        <h1>The Blog</h1>
        <ul class="no-style">
            {%- for post in collections.posts | reverse -%}
                <li class="split mb-4 pb-4 bbottom">
                    <span class="muted"><i class="i-calendar mr-half"></i>{{ post.date | readableDate }}</span>
                    <div>
                        <h2 class="mt-0"><a href="{{ post.url | url }}"><strong>{{ post.data.title }}</strong></a></h2>
                        <p class="muted">{{ post.templateContent | striptags(true) | truncate(140) }}</p>

                        <p><a href="{{ post.url | url }}">Read post &rarr;</a></p>
                    </div>
                </li>
            {%- endfor -%}
        </ul>
    </section>

   
    
{% include 'partials/footer.njk' %}