{% include 'partials/header.njk' %}

    <section class="bbottom pb-4 mb-4">
        <h1 style="font-size: 4rem">{{ title }}</h1>
        {{ content | safe }}
    </section>
    
{% include 'partials/footer.njk' %}