{% include 'partials/header.njk' %}

    <section class="bbottom mb-4">
        <h1 class="mb-1">Hello, I'm Axel.</h1>
        <div class="split split-reverse lead">
            <div class="mb-4">
                {{ content | safe }}
            </div>
            <p class="mugshot-container rounded mb-4"><img src="/assets/img/axel.jpg" class="img-grayscale" alt="Hi"></p>
        </div>
    </section>


    <section>
        <h2 class="mt-0">Writing</h2>
        <div class="split large-gap">
            <div class="pb-3">
                <p>This section is a mix of <a href="/stream/">the stream</a> (very short, tweet-like posts) and medium to long form blog posts from <a href="/blog/">the blog</a>.<p>
            </div>
            <div>
                <ul class="no-style mt-0">
                    {%- for post in paginatedWriting -%}
                        <li class="homepage-{{ "blog-post div-bottom pb-3 mb-3" if "/blog/" in post.url  }}{{ "stream-post stream-card p-2 rounded mb-1" if "/stream/" in post.url  }}">
                            
                                {% if "/blog/" in post.url %}
                                    <h3 class="mt-0"><a href="{{ post.url | url }}"><strong>{{ post.data.title }}</strong></a></h3>
                                    <p>{{ post.templateContent | striptags(true) | truncate(140) }}</p>
                                    <p>
                                        <span class="muted">{{ post.date | readableDate | truncate(15) }}</span>
                                        <span class="muted mx-half">&middot;</span>
                                        <a href="{{ post.url | url }}">Read post &rarr;</a>
                                    </p>  
                                {% elif "/stream" in post.url %}
                                    {{ post.templateContent | safe }}
                                    <p class="mb-0"><a class="stealth small" href="{{ post.url | url }}">{{ post.date | readableDate | truncate(15) }}</a></p>
                                {% endif %}
                            
                        </li>
                    {%- endfor -%}
                </ul>
                {% if pagination.href.previous or  pagination.href.next %}
                    <div class="split split-half">
                        <span class="text-left">{% if pagination.href.previous %}<a href="{{pagination.href.previous }}">&larr; Newer posts</a>{% endif %}</span>
                        <span class="text-right">{% if pagination.href.next %}<a href="{{pagination.href.next }}">Older Posts &rarr;</a>{% endif %}</span>
                    </div>
                {% else %}
                    <p class="muted">Looking for more? Find the rest of the posts in <a href="/blog/">the blog</a> or <a href="/stream/">the stream</a>.</p>
                {% endif %}
            </div>      
        </div>
    </section>

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
    </script>
    
{% include 'partials/footer.njk' %}
