{% include 'partials/header.njk' %}

    <section class="bbottom mb-4 pb-4">
        <h2>About</h2>
        <div class="split">
            <p class="mugshot-container"><img src="/assets/img/axel.jpg" class="img-grayscale" alt="Hi"></p>
            <div>
                {{ content | safe }}
            </div>
        </div>
    </section>


    <section>
        <h2>Latest Writing</h2>
        <p>This section is a mix of <a href="/stream/">the stream</a> (very short, tweet-like posts) and medium to long form blog posts from <a href="/blog/">the blog</a>.<p>
        <ul class="no-style posts">
            {% set lastDate = "" %}
            {% set dateChanged = true %}
            {%- for post in collections.writing | reverse -%}

                {% set thisPostDate %}{{ post.date | readableDate | truncate(15) }}{% endset %}
                {% set dateChanged %}{{ 1 if thisPostDate != lastDate else 0 }}{% endset %}
                {% if dateChanged %}{% set lastDate = thisPostDate %}{% endif %}

                <li class="split {{ "btop mt-4 pt-4" if dateChanged == 1 }}">
                    <span class="muted">{% if dateChanged == 1 %}<i class="i-calendar mr-half"></i>{{ thisPostDate }}{% endif %}</span>
                    <div class="{{ "btop pt-4 mt-3" if dateChanged == 0 }}">
                        {% if "/blog/" in post.url %}
                            <h2 class="mt-0"><a href="{{ post.url | url }}"><strong>{{ post.data.title }}</strong></a></h2>
                            <p class="muted">{{ post.templateContent | striptags(true) | truncate(140) }}</p>
                            <p><a href="{{ post.url | url }}">Read post &rarr;</a></p>  
                        {% elif "/stream" in post.url %}
                            {{ post.templateContent | safe }}
                        {% endif %}
                    </div>
                </li>
            {%- endfor -%}
        </ul>
    </section>

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
    </script>
    
{% include 'partials/footer.njk' %}
