{% include 'partials/header.njk' %}

    <section>
        <h1 class="{{ "mb-1" if desc }}">{{ title }}</h1>
        {% if desc %}<p class="lead muted mb-2"><em>{{ desc }}</em></p>{% endif %}
        <div class="split">
            <div class="pr-2 pb-3">
                <p class="mugshot-container rounded"><img src="/assets/img/axel.jpg" class="img-grayscale" alt="Hi"></p>
                <p class="muted"><i class="i-calendar mr-half"></i>{{ date  | readableDate }}</p>
            </div>
            <div>{{ content | safe }}</div>
        </div>
    </section>
    
{% include 'partials/footer.njk' %}