{% include 'partials/header.njk' %}

    <section>
        <div class="split">
            <p class="muted"><i class="i-calendar mr-half"></i>{{ date  | readableDate }}</p>
            <div class="lead">{{ content | safe }}</div>
        </div>
    </section>
    
{% include 'partials/footer.njk' %}