{% include 'partials/header.njk' %}


    <section>
        <h1 class="mb-1">{{ title }}</h1>
        <p class="mb-4 muted">A collection of random thoughts and things I notice in the world.</p>
        <ul class="no-style">
            {%- for post in collections.stream | reverse -%}
                <li class="split split-mini mb-4 pb-4 bbottom">
                    <span><a href="{{ post.url | url }}" title="{{ post.date | readableDate }}">#</a></span>
                    <div>
                        {{ post.templateContent | safe }}
                    </div>
                </li>
            {%- endfor -%}
        </ul>
    </section>

   
    
{% include 'partials/footer.njk' %}