{% include 'partials/header.njk' %}

    <article class="h-entry">
        <div class="center-constrained">
            <div class="lead stream-card stream-card-single rounded p-2 pt-3">
                <div class="e-content">{{ content | safe }}</div>
                <p class="muted small mb-0"><time class="dt-published" datetime="{{ date }}">{{ date  | readableDate }}</time></p>
            </div>
        </div>
    </article>

    <section class="hide vcard">
        <span class="fn">Axel Valdez</span>
        <img class="photo" src="/assets/img/axel.jpg"/>
        <a class="url" href="https://axelvaldez.mx/">w</a>
    </section>

    <div class="center-constrained">
        <div class="content-webmentions mt-4 pt-4 btop"></div>
    </div>
    
{% include 'partials/footer.njk' %}