{% include 'partials/header.njk' %}

    <section>
        <div class="center-constrained">
            <div class="lead stream-card stream-card-single rounded p-2 pt-3">
                {{ content | safe }}
                <p class="muted small mb-0">{{ date  | readableDate }}</p>
            </div>
        </div>
    </section>
    
{% include 'partials/footer.njk' %}