{% include 'partials/header.njk' %}


    <section>
        <h1 class="mb-1">{{ title }}</h1>
        <p class="mb-4 lead muted"><em>Short posts on random thoughts and things I notice in the world. For medium to long form posts, visit <a href="/blog/">the blog</a>.</em></p>
        <div class="center-constrained">
            <ul class="no-style posts">
                {%- for post in paginatedStream -%}
                    <li>
                        <div class="stream-card p-2 mb-1 rounded">
                                {{ post.templateContent | safe }}
                                <p class="mb-0 small"><a class="stealth" href="{{ post.url | url }}">{{ post.date | readableDate | truncate(15) }}</a></a>
                        </div>
                    </li>
                {%- endfor -%}
            </ul>
            {% if pagination.href.previous or  pagination.href.next %}
            <div class="split split-half mt-2">
                <span class="text-left">{% if pagination.href.previous %}<a href="{{pagination.href.previous }}">&larr; Newer posts</a>{% endif %}</span>
                <span class="text-right">{% if pagination.href.next %}<a href="{{pagination.href.next }}">Older Posts &rarr;</a>{% endif %}</span>
            </div>
            {% endif %}
        </div>
    </section>

   
    
{% include 'partials/footer.njk' %}